/* Paleta de colores */
:root {
    --color-soap-1: #00161f;
    --color-soap-2: #025951;
    --color-soap-3: #02735E;
    --color-soap-4: #038C3E;
    --color-soap-5: #fff;
    --color-soap-6: #fff;
    --color-soap-7: #0CF25D;

    --fuente-titulos: 'Courier New', Courier, monospace;
}


nav {
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--color-soap-1);
    user-select: none;

}

#home {
    padding-left: 16px;
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-soap-7);
    user-select: none;
}

#home:hover {
    color: var(--color-soap-4);
}

.nav-item>a {
    color: var(--color-soap-5);
}

.nav-item a:hover,
.nav-item a:focus {
    color: var(--color-soap-7);
}

/* Cambiar color del título al abrir el dropdown */
.nav-item.dropdown .nav-link.dropdown-toggle.show {
    color: var(--color-soap-7);
}

/* Fondo del menú desplegable */
.dropdown-menu {
    background-color: var(--color-soap-1);
    border-color: var(--color-soap-1);
}

/* Estilo de los ítems del dropdown */
.dropdown-menu .dropdown-item {
    color: var(--color-soap-6);
    background-color: var(--color-soap-1);
}


/* Toggler */
.navbar-toggler {
    border: 2px solid var(--color-soap-5);
}

.navbar-toggler:focus {
    box-shadow: none;
    border-top: 2px solid var(--color-soap-7);
}

/* Hover de los ítems */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: var(--color-soap-1);
    background-color: var(--color-soap-7);
    /* mantiene el fondo */
}

/* Título del dropdown cuando está abierto */
.nav-item.dropdown .nav-link.dropdown-toggle.show,
.nav-item.dropdown .nav-link.dropdown-toggle:focus,
.nav-item.dropdown .nav-link.dropdown-toggle:active {
    color: var(--color-soap-7);
}


/* Seccion Buscar */
/* input buscar */
#input_buscar:focus {
    border-color: var(--color-soap-7);
    border-style: solid;
    border-width: 2px;
}

/* Boton buscar */
#boton_buscar {
    font-weight: bold;
    color: var(--color-soap-7);
    border-color: var(--color-soap-7);
    border-style: solid;
    border-width: 2px;
}

#boton_buscar:hover {
    background-color: var(--color-soap-7);
    color: var(--color-soap-1);
    font-weight: bolder
}



/*  */
/*  */
/* Carousel container: ocupa 50% de la pantalla */
#carousel_seccion {
    max-height: 70vh;
    display: flex;
    /* Limita la altura del carrusel al 70% del alto de la ventana */
    overflow: hidden;
}

#carousel_seccion img {
    height: 100%;
    object-fit: cover;
    /* Recorta la imagen para que se ajuste sin deformarse */
    object-position: center center;
}

.titulo_caption {
    font-size: 80px;
    font-family: "BBH Sans Hegarty", sans-serif;
    /* font-weight: ; */
    transform: scale(1, 1.6);
    background-color: none;
}

.parrafo_caption {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

/* Iconos aplicaciones */
.iconos {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


@media (max-width: 768px) {
    #carousel_seccion {
        max-height: 50vh;
    }
}




/*  */
/*  */
/* Seccion TOP PELIS */
#div_listado_peliculas {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    /* font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: 2rem;
    user-select: none; */
    background: var(--color-soap-1);
}

#titulo_listado_peliculas {
    font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    color: var(--color-soap-7);
}

#dropdown_categorias {
    font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
}

/* Efecto card */
.image-overlay {
    background-color: rgba(03, 41, 59, 0.548);
    /* Fondo semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Transición suave */
}

.movie_card:hover .image-overlay,
.movie_card:focus .image-overlay {
    opacity: 1;
}

.div_footer {
    background-color: var(--color-soap-1);
}


footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 18px;
}

#texto_footer {
    color: #6c757d;
}

#texto_footer p:hover {
    color: black;
}

i:hover {
    color: black;
}